/* svg{
    pointer-events: none;
} */
 /* html , body , body *{
  contain: layout , paint , size , style , content ;
 } */
img,
video {
  will-change: auto !important;
}
.preventWhenScroll *  {
  transition: none !important;
  animation-play-state: paused !important;
  animation: none !important;
}
[inf-symbol-id].gjs-selected,
[inf-symbol-id] *.gjs-selected {
  outline: 2px solid #eb2588 !important;
  /* outline-offset: 2; */
}

[inf-symbol-id].gjs-hovered,
[inf-symbol-id] *.gjs-hovered {
  border-color: #eb2588 !important;
  /* outline: 2px solid #eb2588 !important; */
}

[data-gjs-type="media"] {
  width: fit-content;
  height: fit-content;
  display: block;
}
[data-gjs-type="media"] > * {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* max-width: 100% !important; */
  display: block;
  pointer-events: none;
}

infinitely-svg {
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

infinitely-svg svg {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.screenshot-mode * {
  animation: none !important;
  /* transition: none !important; */
  /* filter: none !important; */
}

.drop-area {
  width: 100%;
  height: 70px;
  background-color: #eeeeeea1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-weight: 500;
}

.drop-area > * {
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.drop {
  background-color: #eee;
  min-height: 70px;
  height: 70px;
  position: relative;
  color: black !important;
  font-weight: bold !important;
}

.drop::before {
  content: "Drop Here";
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  font-weight: 500;
  text-transform: capitalize;
  transform: translate(-50%, -50%);
  color: black !important;
  font-weight: bold !important;
}

swiper-slide.drop{
  height: 500px;
}

.min-h-60 {
  min-height: 60px;
}

.inf-stop-all-animations  , .inf-stop-all-animations  *{
  animation: none !important;
  animation-play-state: paused !important;
  /* transition: none !important; */

  /* all: unset !important; */
}

spline-viewer {
  pointer-events: none;
}

spline-viewer.drop {
  all:  unset !important;
}

.enable-swiper , .enable-spline{
  pointer-events: none;
  position: relative !important;
  height: 150px !important;
  width: 100% !important;
  display: block !important;
  border: #E0E0E0 2px dotted !important;
}

.enable-swiper::after , .enable-spline::after{
  content: '';
  position: absolute !important;
  left: 0 !important;
  height: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: white !important;
}

.enable-swiper::before , .enable-spline::before{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-transform: capitalize !important;
  position: absolute !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 100 !important;
  background: crimson !important;
  color: white !important;
  font-weight: bold !important;
  font-size: large !important;
  animation: scale 1s alternate-reverse forwards infinite !important;
}

.enable-swiper::before{
  content: 'Please Enable Swiper To Access This component';
}

.enable-spline::before{
  content: 'Please Enable Spline Viewer To Access This component';

}


@keyframes scale {
  from{
    /* transform: scale(0); */
    opacity: .7;
  }
  to{
    opacity: 1;
    /* transform: scale(1); */
  }
}