.infcls-NTE3Mw5191-7335-354 {
  background-color: #ab05c3;
}
@media (max-width: 900px) {
  .infcls-NTE3Mw5191-7335-354 {
    background-color: rgb(255, 204, 0);
  }
}
@media (max-width: 480px) {
  .infcls-NTE3Mw5191-7335-354 {
    background-color: rgb(28, 235, 214);
  }
}
@media (max-width: 375px) {
  .infcls-NTE3Mw5191-7335-354 {
    background-color: rgb(54, 224, 0);
  }
}
@media (max-width: 275px) {
  .infcls-NTE3Mw5191-7335-354 {
    background-color: rgb(39, 0, 255);
  }
}
@media (max-width: 175px) {
  .infcls-NTE3Mw5191-7335-354 {
    background-color: rgb(255, 0, 39);
  }
}
